NEXT_PUBLIC_SUPABASE_URL=https://cgcpvetdhdiywdbtdisq.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_acydJVLJQqpeG4dhwsTpOw_EW43nN-7
OLLAMA_API_KEY=your_ollama_api_key
OLLAMA_BASE_URL=https://ollama.com/api
OLLAMA_MODEL=qwen3.5:cloud
